<body>
  <header>
    <div class="content">
      <a routerLink="/home">
        <img src="/assets/logs/pets-svgrepo-com.svg" alt="logo" />
      </a>
      <nav>
        <ul>
          <li *ngIf="LogginOn">
            <a routerLink="/administration/listUser">usuarios</a>
          </li>
          <li *ngIf="LogginOn">
            <a routerLink="/administration/listPets">mascotas</a>
          </li>
          <li *ngIf="LogginOn">
            <a routerLink="/administration/listPlan">Plan</a>
          </li>
          <li *ngIf="LogginOn">
            <a routerLink="administration/listProductS">Productos</a>
          </li>
          <li *ngIf="LogginOn">
            <a routerLink="/administration/listSucursal">Sucursal</a>
          </li>
          <li *ngIf="LogginOn">
            <a routerLink="/security/change-password">cambiar clave</a>
          </li>
          <li *ngIf="!LogginOn">
            <a routerLink="/security/log-in">iniciar sesion</a>
          </li>
          <li *ngIf="LogginOn">
            <a routerLink="/security/log-out">Cerrar sesion</a>
          </li>
        </ul>
      </nav>
      <div class="clearfix"></div>
    </div>
  </header>
</body>



  