

<body>
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <a routerLink="/home">
                    <img src="../assets/logs/pets-svgrepo-com.svg" alt="logo empresa" />
                </a>
            </div>
            <div class="login-card-header">
                <h1>Recuperar contraseña</h1>
                <div>Porfavor escriba su correo</div>
            </div>
            <form   class="login-card-form">
                <input type="hidden" formControlName="id">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input  type="text" placeholder="Correo" id="emailForm" required autofocus />
                </div>
                <button type="submit">Recuperar</button>
            </form>
        </div>
    </div>
</body>
