@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #fcffd5, #ffecf2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 0;
  margin: 0;
  padding: 0;
}

.content {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.clearfix {
  clear: both;
  float: none;
}

.half,
.card {
  width: 50%;
  float: left;
  text-align: center;
}

.card {
  width: 300px;
  background: rgba(225, 225, 225, 0.958);
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(105, 78, 78, 0.15);
  transform: rotate(-6deg);
  z-index: -1;
}

.contact-card-header h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.contac-card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contac-card-form .form-item {
  position: relative;
}

.contac-card-form .form-item .form-item-icon {
  position: absolute;
  top: 0.82rem;
  left: 1.4rem;
  font-size: 1.3rem;
  opacity: 0.4;
}

.card input[type="text"],
.card input[type="email"],
.card textarea[type="text"] {
  border: none;
  outline: none;
  background: rgba(105, 78, 78, 0.18);
  padding: 1rem 0.1rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
  transition: background 0.5s;
}

.card input:focus {
  background: rgba(255, 255, 255, 0.784);
}

.contac-card-form button {
  background: black;
  color: rgba(254, 254, 254, 0.727);
  padding: 4.1px;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}

.contac-card-form button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.half img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.half h1 {
  margin-top: 100px;
  line-height: 50px;
}

.descriptionMF {
  width: 100%;
  background: #eee;
  padding: 70px 0;
  text-align: center;
}

.descriptionMF h1 {
  line-height: 70px;
}

.descriptionMF h3 {
  line-height: 40px;
}

.slider {
  width: 100%;
}

.slider input {
  display: none;
}

.Plan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}

.Plan .item {
  width: 450px;
  padding: 0;
  border-radius: 5px;
  background-color: #ffffffe1;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.526);
  user-select: none;
  cursor: pointer;
}

.Plan .item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #0000000b;
}

.Plan .item p,
.Plan .item h5 {
  font-size: 15px;
}

.Plan .item h2 {
  font-size: 15px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #312b42;
  margin: 7px;
  transition-duration: 0.2s;
}

#p-1:checked ~ .Plan label[for="p-1"],
#p-2:checked ~ .Plan label[for="p-2"],
#p-3:checked ~ .Plan label[for="p-3"],
#p-4:checked ~ .Plan label[for="p-4"],
#p-5:checked ~ .Plan label[for="p-5"] {
  transform: scale(2);
  background-color: rgba(153, 209, 244, 0.5);
}

#p-1:checked ~ .Plan label[for="p-2"],
#p-2:checked ~ .Plan label[for="p-1"],
#p-2:checked ~ .Plan label[for="p-3"],
#p-3:checked ~ .Plan label[for="p-2"],
#p-3:checked ~ .Plan label[for="p-4"],
#p-4:checked ~ .Plan label[for="p-3"],
#p-4:checked ~ .Plan label[for="p-5"],
#p-4:checked ~ .Plan label[for="p-4"] {
  transform: scale(1.5);
}

#p-1:checked ~ .Plan label[for="p-3"],
#p-2:checked ~ .Plan label[for="p-4"],
#p-3:checked ~ .Plan label[for="p-5"],
#p-4:checked ~ .Plan label[for="p-1"],
#p-5:checked ~ .Plan label[for="p-2"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#p-1:checked ~ .Plan label[for="p-2"],
#p-2:checked ~ .Plan label[for="p-3"],
#p-3:checked ~ .Plan label[for="p-4"],
#p-4:checked ~ .Plan label[for="p-5"],
#p-5:checked ~ .Plan label[for="p-1"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#p-2:checked ~ .Plan label[for="p-1"],
#p-3:checked ~ .Plan label[for="p-2"],
#p-4:checked ~ .Plan label[for="p-3"],
#p-5:checked ~ .Plan label[for="p-4"],
#p-1:checked ~ .Plan label[for="p-5"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#p-3:checked ~ .Plan label[for="p-1"],
#p-4:checked ~ .Plan label[for="p-2"],
#p-5:checked ~ .Plan label[for="p-3"],
#p-2:checked ~ .Plan label[for="p-4"],
#p-1:checked ~ .Plan label[for="p-5"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#p-1:checked ~ .Plan label[for="p-1"],
#p-2:checked ~ .Plan label[for="p-2"],
#p-3:checked ~ .Plan label[for="p-3"],
#p-4:checked ~ .Plan label[for="p-4"],
#p-5:checked ~ .Plan label[for="p-5"] {
  z-index: 5;
}

.slider button {
  background: black;
  color: rgba(254, 254, 254, 0.727);
  padding: 3px;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}

.slider button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.servcios {
  width: 980px;
  list-style: none;
  margin: 0 auto;
}

.servcios li {
  float: left;
  width: 180px;
  height: 180px;
  text-align: center;
  background: #0084d8;
  color: #eee;
  margin: 20px;
  border-radius: 10px;
}

.servcios li a {
  text-decoration: none;
  color: whitesmoke;
}

.servcios li img {
  width: 150px;
  height: auto;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
}
