@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

body {
    font-family: Poppins, sans-serif;
    min-height: 0;
    background: linear-gradient(90deg, #fcffd5, #ffecf2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0
}
.clearfix {
    clear: both;
    float: none
}
/* Importacion de otros archivos CSS */
@import "card.components.css";
@import "form.coponents.css";
@import "services.components.css";
@import "slider.components.css";