<body>
  <section class="content">
    <div class="half">
      <div class="card">
        <div class="contact-card-header">
          <h5>Contactanos</h5>
        </div>
        <form action="" class="contac-card-form">
          <div class="form-item">
            <!-- <span class="form-item-icon material-symbols-rounded"> -->
            <input type="text" placeholder="Nombre" id="nombreForm" required />
          </div>
          <div class="form-item">
            <!-- <span class="form-item-icon material-symbols-rounded">lock</span> -->
            <input type="text" placeholder="Correo" id="emailForm" required autofocus />
          </div>
          <div class="form-item">
            <!-- <span class="form-item-icon material-symbols-rounded"></span> -->
            <textarea type="text" placeholder="Mensaje" required></textarea>
          </div>
          <button type="submit">Enviar</button>
        </form>
      </div>
      <!-- <h1>Hola!</h1>
        <p>Somos una Veterinaria amigable y Feliz</p>
        <p>
          Aca puede ir la mision y la vision de la empresa o el formulario de
          consultas a la empresa
        </p> -->
      <div class="clearfix"></div>
    </div>
    <div class="half">
      <img src="/assets/icons/pexels-yaroslav-shuraev-8498519.jpg" alt="Mascotas y su familia" />
    </div>
    <div class="clearfix"></div>
  </section>
  <section class="content">
    <div class="descriptionMF">
      <h1>MF</h1>
      <h3>Planes Veterinaria Mascotas Felices</h3>
      <div class="slider">
        <input type="radio" name="Plan" id="p-1" />
        <input type="radio" name="Plan" id="p-2" />
        <input type="radio" name="Plan" id="p-3" checked />
        <input type="radio" name="Plan" id="p-4" />
        <input type="radio" name="Plan" id="p-5" />
        <div class="Plan">
          <label class="item" for="p-1">
            <img src="/assets/icons/bones-pet-svgrepo-com.svg" alt="image" />
            <p>Plan Basico</p>
            <h5>Ofrecemos servicios de Baño de Mascotas</h5>
            <h2>$2200<button type="submit">Comprar</button></h2>
          </label>
          <label class="item" for="p-2">
            <img src="/assets/icons/long-haired-dog-head-svgrepo-com.svg" alt="image" />
            <p>Plan Estandar</p>
            <h5>Ofrecemos Servicio de peluqueria y Vacunacion</h5>
            <h2>$3000<button type="submit">Comprar</button></h2>
          </label>
          <label class="item" for="p-3">
            <img src="/assets/icons/leash-pet-svgrepo-com.svg" alt="image" />
            <p>Plan Proteccion</p>
            <h5>Ofrecemos servicios de peluqueria,Vacunacion,Guarderia</h5>
            <h2>$3500 <button type="submit">Comprar</button></h2>
          </label>
          <label class="item" for="p-4">
            <img src="/assets/icons/green-park-city-space-svgrepo-com.svg" alt="image" />
            <p>Plan Premium</p>
            <h5>
              Ofrecemos un servico de alta calidad odne sus mascotas se
              divertiran y cudaremos de su salud
            </h5>
            <h2>$4500<button type="submit">Comprar</button></h2>
          </label>
          <label class="item" for="p-5">
            <img src="/assets/logs/surgical-sterilization-svgrepo-com.svg" alt="image" />
            <p>Plan</p>
            <h5>Sin nada por el momento</h5>
            <h2>$10000<button type="submit">Comprar</button></h2>
          </label>
        </div>
        <div class="dots">
          <label for="p-1"></label>
          <label for="p-2"></label>
          <label for="p-3"></label>
          <label for="p-4"></label>
          <label for="p-5"></label>
        </div>
      </div>
      <!-- <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit hic vel
          architecto ducimus unde alias nobis harum animi doloremque soluta
          minus molestiae quaerat exercitationem sit, illum corporis dignissimos
          tenetur debitis?
        </p> -->
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="content">
    <h1>Sedes</h1>
    <ul class="servcios">
      <li>
        <img src="/assets/icons/pexels-catalina-carvajal-herrera-13546251.jpg" alt="Estetoscopio" />
        <a href="#">Manizales</a>
      </li>
      <li>
        <img src="/assets/icons/pexels-clive-kim-4150119.jpg" alt="Estetica" />
        Medellin
      </li>
      <li>
        <img src="/assets/icons/pexels-felipe-12097112.jpg" alt="Cirugias" class="cursor"/>
        Bucaramanga
      </li>
      <li>
        <img src="/assets/icons/pexels-charle-torres-11004274.jpg" alt="Compras" />
        Cali
      </li>
    </ul>
    <div class="clearfix"></div>
  </section>
</body>