
.slider {
    width: 100%
}

.slider input {
    display: none
}

.Plan {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
    overflow: hidden
}

.Plan .item {
    width: 450px;
    padding: 0;
    border-radius: 5px;
    background-color: #ffffffe1;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    transition: transform .4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .526);
    user-select: none;
    cursor: pointer
}

.Plan .item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #0000000b
}

.Plan .item p {
    color: #000
}

.Plan .item h5 {
    font-size: 15px
}

.Plan .item h2 {
    font-size: 15px
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center
}

.dots label {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #312b42;
    margin: 7px;
    transition-duration: .2s
}

#p-1:checked .dots label[for=p-1],
#p-2:checked .dots label[for=p-2],
#p-3:checked .dots label[for=p-3],
#p-4:checked .dots label[for=p-4],
#p-5:checked .dots label[for=p-5] {
    transform: scale(2);
    background-color: rgba(153, 209, 244, .5)
}

#p-1:checked .dots label[for=p-2],
#p-2:checked .dots label[for=p-1],
#p-2:checked .dots label[for=p-3],
#p-3:checked .dots label[for=p-2],
#p-3:checked .dots label[for=p-4],
#p-4:checked .dots label[for=p-3],
#p-4:checked .dots label[for=p-5],
#p-4:checked .dots label[for=p-4] {
    transform: scale(1.5)
}

#p-1:checked~.Plan label[for=p-3],
#p-2:checked~.Plan label[for=p-4],
#p-3:checked~.Plan label[for=p-5],
#p-4:checked~.Plan label[for=p-1],
#p-5:checked~.Plan label[for=p-2] {
    transform: translate3d(600px, 0, -180px) rotateY(-25deg);
    z-index: 2
}

#p-1:checked~.Plan label[for=p-2],
#p-2:checked~.Plan label[for=p-3],
#p-3:checked~.Plan label[for=p-4],
#p-4:checked~.Plan label[for=p-5],
#p-5:checked~.Plan label[for=p-1] {
    transform: translate3d(300px, 0, -90px) rotateY(-15deg);
    z-index: 3
}

#p-2:checked~.Plan label[for=p-1],
#p-3:checked~.Plan label[for=p-2],
#p-4:checked~.Plan label[for=p-3],
#p-5:checked~.Plan label[for=p-4],
#p-1:checked~.Plan label[for=p-5] {
    transform: translate3d(-300px, 0, -90px) rotateY(15deg);
    z-index: 3
}

#p-3:checked~.Plan label[for=p-1],
#p-4:checked~.Plan label[for=p-2],
#p-5:checked~.Plan label[for=p-3],
#p-2:checked~.Plan label[for=p-4],
#p-1:checked~.Plan label[for=p-5] {
    transform: translate3d(-600px, 0, -180px) rotateY(25deg)
}

#p-1:checked~.Plan label[for=p-1],
#p-2:checked~.Plan label[for=p-2],
#p-3:checked~.Plan label[for=p-3],
#p-4:checked~.Plan label[for=p-4],
#p-5:checked~.Plan label[for=p-4],
#p-5:checked~.Plan label[for=p-5] {
    z-index: 5
}

.slider button {
    background: #000;
    color: rgba(254, 254, 254, .727);
    padding: 3px;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s
}

.slider button:hover {
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer
}