
<body>
  
  <div class="login-card-container">
    <div class="login-card">
      <div class="login-card-logo">
        <a href="/PaginaInicio.html">
          <img src="../assets/logs/pets-svgrepo-com.svg" alt="logo empresa" >
        </a>
        
      </div>
      <div class="login-card-header">
        <h1>Nueva Cntraseña</h1>
        <div>Porfavor ingrese una contraseña Nueva</div>
      </div>
      <form action="" class="login-card-form">
        <div class="form-item">
            <span class="form-item-icon material-symbols-rounded">lock</span>
          <input type="text" placeholder="Contraseña Nueva" id="passwordForm" required autofocus>
        </div>
        <div class="form-item">
          <span class="form-item-icon material-symbols-rounded">lock</span>
          <input type="text" placeholder="Repita la Contraseña" id="passwordForm" required autofocus>
        </div>
        <button type="submit"> Confirmar </button>
      </form>
    </div>
  </div>
</body>
