<body>
            <div class="recent-orders">
                <a routerLink="/administration/create-user" class="btn" type="submit">
                    Nuevo Usuario</a>
                    <a routerLink="/administration/create-pets" class="btn" type="submit">
                        Nuevo Mascota</a>
                <div  style="text-align: center">
                    <h2>Lista de Usuarios</h2>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Identificacion</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>rol</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of ListRegisters">
                            <td>
                                {{ p.nombre }}
                            </td>
                            <td>
                                {{ p.apellido }}
                            </td>
                            <td>
                                {{ p.identificacion }}
                            </td>
                            <td>
                                {{ p.correo }}
                            </td>
                            <td>
                                {{ p.telefono }}
                            </td>
                            <td>
                                {{ p.rol }}
                            </td>
                            <td>
                                <a routerLink="/administration/edit-user/{{ p.id }}" class="btn">Editar
                                    usuario</a>
                            </td>
                            <td>
                                <a routerLink="/administration/delete-user/{{ p.id }}" class="btn">Borrar
                                    usuario</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">show all</a>
            </div>
</body>